<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('../partials/navigation.ejs') %>

    <main>
        <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="email">Name</label>
                <input class="<%= validationErrors.name ? 'invalid' : '' %>" type="text" name="name" id="name"
                    value="<%= oldInputs.name %>">
                <% if(validationErrors.name) {%>
                <span class="input-msg input-msg--error"><%=validationErrors.name %></span>
                <% } %>
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input class="<%= validationErrors.email ? 'invalid' : '' %>" type="text" name="email" id="email"
                    value="<%= oldInputs.email %>">
                <% if(validationErrors.email) {%>
                <span class="input-msg input-msg--error"><%=validationErrors.email %></span>
                <% } %>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= validationErrors.password ? 'invalid' : '' %>" type="password" name="password"
                    id="password" value="<%= oldInputs.password %>">
                <% if(validationErrors.password) {%>
                <span class="input-msg input-msg--error"><%=validationErrors.password %></span>
                <% } %>
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input class="<%= validationErrors.confirmPassword ? 'invalid' : '' %>" type="password"
                    name="confirmPassword" id="confirmPassword" value="<%= oldInputs.confirmPassword %>">
                <% if(validationErrors.confirmPassword) {%>
                <span class="input-msg input-msg--error"><%=validationErrors.confirmPassword %></span>
                <% } %>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
    <%- include('../partials/end.ejs') %>