<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../partials/navigation.ejs') %>
    <main>
        <% if(cart.length > 0) { %>
        <ul class="cart__item-list">
            <% cart.forEach(item => { %>
            <li class="cart__item">
                <h1><%=item.title %></h1>
                <h2>Quantity: <%= item.quantity %></h2>
                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" value="<%=item._id%>" name="id">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </li>
            <% }) %>
        </ul>
        <hr>
        <div class="centered">
            <form action="/create-order" method="POST">
                <button class="btn" type="submit">Order now!</button>
            </form>
        </div>
        <% } else { %>
        <h1>Cart is empty</h1>
        <%}%>
    </main>
    <%- include('../partials/end.ejs') %>